@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: #9B3FBF;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #532266;
}

.basico {
    color: #92ff03;
}

.intermediario {
    color: #1489cc;
}

.avançado {
    color: #cc5c00;
}

h1#principal {
    text-align: center;
    background-color: #341540;
    color: white;
}

h2 {
    color: #341540;
}